/* Styling Only Related To ALL Pages */

body {
  padding-top: 30px;
  margin-left: 0px;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

li {
  float: left;
}

li a {
 display::
  justify-content: center;
  align-items: center;
  height: 66vh;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: "100";
}

li a:hover:not(.active) {
  background-color: rgb(255, 235, 168);
}

.active {
  background-color: rgb(104, 64, 19);
}

h1 {
  color: aliceblue;
 font-size: 7em;
 font-family: eloquent-jf-small-caps-pro;

}

.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: "300";
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




